link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
script(src="https://www.imooc.com/static/lib/jquery/1.9.1/jquery.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")